/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
body{
    width: 100%;
    height: 100%;
    font-family: "Roboto",sans-serif;
    
}
.navbar-container{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;  

}
.header{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;    
}


.header .logo{
    text-decoration: none;
    font-size: 2rem;
    outline: none;
}
.header .navbar ul{
    display: flex;
    align-items: center;
}

.header .navbar ul li{
    list-style: none;
    margin: 0 1rem;
}
.header .navbar ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    outline: none;
    font-weight: 400;
    color: #2a4042;
}
.header .navbar ul li a:hover, .header .navbar ul li a.active{
    color:#2196f3;
}
.navbar{
    display: flex;
    align-items: center;
}

.bar{
    font-size: 2rem;
    display: none;
}

.headerColor{
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


/* Home Section */
#home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#e3f2fd 50%, #fff 50%);
    margin-bottom: 2rem;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.img-content{
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg,#fff 50%, #e3f2fd 50%);
}
.img-content #profilePicture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-position: top;
    object-fit: cover;
}

.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sec-name{
    color: #2196f3;
}

.text-content .name-holder h3{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 2rem;
    color: #2a4042;
}
.text-content .typing-text{
    font-size: 2.2rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.static-text{
    color: #2196f3;
}

.cursor{
    width: 2px;
    display: inline-block;
    background-color: #2a4042;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
.typing{
    animation: none;
}

@keyframes blink{
    0%{
        background-color: #2a4042;
    }
    49%{
        background-color: #2a4042;
    }
    50%{
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color:#2a4042;
    }
}


/* About Section */

.about-section{
    padding: 5rem 0 3rem 2rem;
   
}
.aboutHeading .firstHeading{
    color: #2196f3;
    font-size: 1.1rem;
    margin: 1.5rem 0;
}
.aboutHeading .secondHeading{
    font-size: 2rem;
    margin-bottom:4rem;
    font-weight: 700;
}
.about-container{
    display: flex;
}

/* Left box */
.left-box{
    flex: 1;
    display: flex;
    align-items: center;
    padding:2rem 0;
    padding-left: 10px;

}
.left-box .img-box{
    width: 350px;
    height: 420px;
    border: 10px solid black;
    padding: .5rem;
    position: relative;
}
.left-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: -25px;
    left: -20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.668);
}

/* Right box */
.right-box{
    flex: 2;
    padding: 2rem 0 2rem 2rem;
}
.right-box .about-content .aboutFirstHeading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: .6px;
}
.right-box .about-content .aboutSecondHeading{
    color: #2196f3;
}
.right-box .about-content .aboutSecondText{
    margin-bottom: 2rem;
    line-height: 2rem;
    letter-spacing: .7px;
    color: #4b4b4bd6;
}
.prof-name{
    color: #2196f3;
    font-style:italic;
}
.right-box .info-container .info-box{
    margin-bottom: 2rem;
}


.info-container{
    display: flex;
    flex-direction: column;
}
.right-box .info-box{
    display: flex;
}
.left-info{
    flex: 1;
    margin-right: 1rem;
}


.right-info{
    flex: 1;
}

.info-box .info-items{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.info-box .info-items p span{
    color: #4b4b4bd6;
}
.info-items i{
    margin-right: .5rem;
    color: #2196f3;
    font-size: 1.1rem;
}
.cv-download a{
    text-decoration: none;
    background-color:#2196f3;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.1rem;
}

/* .cv-download a:hover{

} */





/*Skill Section  */
.skillCont{
    width: 100%;
    height: 100%;
    background-color:#f9f9f9;
    padding-bottom: 3rem;
}
.skillCards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}
.card{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    border-radius: 1rem;
}
.card-content{
    text-align: center;
}
.card-content .circle-item{
    font-size: 3rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    background: conic-gradient(#2196f3 3.5deg, #e7e7e7 0deg);
}
.circle-item i{
    z-index: 99;
}
.card-content .circle-item::before{
    content: "";
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}
.skill-name{
    font-size: 1rem;
    font-weight: 400;
}
.skillPtg{
    color: #2196f3;
    margin-left: .2rem;
}

.html{
    color: rgb(255, 81, 0);
}

.css{
    color: rgb(63, 63, 247);
}
.javascript{
    color: rgb(217, 217, 4);
}
.git{
    color: red;
}
.node{
    color: green;
}
.react{
    color: #00d5ff;
}
.python{
    color: rgb(255, 170, 0);
}
.cProg{
    color: rgb(142, 142, 241);
}



/* Projects */
#projects{
    width: 100%;
    height: 500px;
    font-size: 1.5rem;
    padding: 5rem 0;
}
.project-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    font-size: 4rem;
    color:#2196f3;
}
/* Contact Section */
#contact{
    width: 100%;
    height: 100%;
    background-color:#f9f9f9;
    padding-bottom: 3rem;
}
.contact-container{
    display: flex;
    gap: 3rem;
}
.formBox1{
    flex:1;
}
.formBox1 p{
    color:#2a4042;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}
.form-item{
    width: 100%;
}
.form-item input{
    width: 100%;
    font-size: 1rem;
    padding: .7rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.265)
}
.form-item textarea{
    width: 100%;
    resize: none;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.265)
}
.formBox2{
    flex:1;
}

.form-item button{
    border: none;
    background: #2196f3;
    color: #fff;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
}
.formBox2Content1{
    letter-spacing:.3px;
    line-height: 2rem;
    color: #2a4042d0;
}
.formBox2Content2{
    margin: 2rem  0;
    letter-spacing: 1px;
    line-height: 2rem;
}







.fromBox2Social{
    font-size: 3rem;
    display: flex;
}

.socialLinked a{
    color: rgb(121, 121, 255);
}
.socialGithub a{
    color: rgb(141, 36, 238);
}
.socialFacebook a{
    color: rgb(83, 138, 255);
}
.socialInsta a{
    color: rgb(255, 0, 153);
}
.social-icon:hover{
    transform:translateY(-10px);
}
.social-icon{
    margin-right: 1.4rem;
    padding: 2px 5px;
    transition: transform .8s ease-in-out;
}

/* footer */
#footer{
    width: 100%;
    height: 200px;
    background-color:#263238;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#footer p {
    font-size: 1.1rem;
    margin: 1rem 0;
}





/* Media queries  */


@media only screen and (max-width:1399px){
    .header{
        max-width: 1100px;
        margin: auto;
        padding: 0;
    }
    .about-section{
        max-width: 1100px;
        margin: auto;
        padding-left: 0;
    }
}
@media only screen and (min-width:1400px){
    .header{
        max-width: 1300px;
        margin: auto;
        padding: 0;
    }
    .about-section{
        max-width: 1300px;
        margin: auto;
        padding-left: 0;
    }
}
@media only screen and (max-width:1145px){
    .header{
        padding: 0 2rem;
    }
    .about-section{
        padding: 5rem 2rem 0 2rem;
    }
}
@media only screen  and (max-width:912px){
    .bar{
        display:contents;
    }
    .bar i{
        z-index: 9999;
    }

    .header .navbar ul{
        width: 50%;
        top: 0;
        right: -55%;
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        align-items: center;
        position: absolute;
        height: 100vh;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.357);
        transition: right .4s ease-out;
        
    }
    .header .navbar ul.activeNav{
        right: 0;
        transition: right .4s ease-in;
    }

    .header .navbar ul li{
        text-align: center;
        margin: 1.5rem 0;
    }
    .text-content .name-holder h3{
        font-size: 2.5rem;
    }
    .text-content .typing-text{
        font-size: 1.8rem;
    }
    .about-section{
        padding-right: 2rem;
    }
    .about-section .about-container{
        display: flex;
        flex-direction: column;
    }
    .right-box{
        padding-left: 0;
    }
    .left-box{
        justify-content: center;
    }

    .skillCards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 2rem;
        margin-bottom: 3rem;
    }
   
    
}

@media only screen and (max-width:635px){
    .info-box{
        display: flex;
        flex-direction: column;
    }
    .text-content .name-holder h3{
        font-size: 2.2rem;
    }
}
@media only screen  and (max-width:640px){
    .skillCards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .contact-container{
        flex-direction: column;
    }
}

@media only screen and (max-width:480px){
    .right-box .about-content .aboutFirstHeading{
        font-size: 1rem;
        height: 40px;
        margin-bottom: 1rem;
    }

    .text-content .name-holder h3{
        font-size: 1.8rem;
    }
    .text-content .typing-text{
        font-size: 1.5rem;
    }
     .cv-download a{
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
    }
    .skillCards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .card{
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

@media only screen and (max-width:280px){
    .text-content .name-holder h3{
        font-size: 1.3rem;
    }
    .info-box .mail p{
        word-break: break-all;
    }
    .about-section .aboutHeading .secondHeading{
        font-size: 1.5rem;

    }
    .about-section .aboutHeading .firstHeading{
        font-size: .9rem;
    }
    .typing-text p{
        font-size: 1.2rem;
    }


    .skillCards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .card{
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .card-content .circle-item{
        font-size: 2rem;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        position: relative;
        background: conic-gradient(#2196f3 3.5deg, #e7e7e7 0deg);
    }
    .card-content .circle-item::before{
        content: "";
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
    }

}